@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
    sans-serif;
}

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  background-color: #09090b; /* zinc-950 */
  color: #e4e4e7; /* zinc-200 */
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* halo discret en haut de page pour une ambiance feutrée */
  background-image: radial-gradient(
    60% 50% at 50% 0%,
    rgba(255, 255, 255, 0.04),
    transparent 70%
  );
}
